body{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: blanchedalmond;
    background: linear-gradient(90deg, rgba(0,36,14,1) 2%, rgba(8,111,140,1) 27%, rgba(8,126,143,1) 35%, rgba(11,94,125,1) 62%, rgba(0,212,255,1) 99%);
}

.container{
    text-align: center;
    background-color: aqua;
    padding: 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1)
}

for{
    margin-bottom: 20px;
}

.oculto{
    display: none;
}